body { background: #000; color: #fff; font-family: sans-serif; text-align: center; margin: 0; overflow-x: hidden; }
.marca-agua { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg); font-size: 4rem; opacity: 0.1; z-index: -1; pointer-events: none; white-space: nowrap; }
#reloj { color: #ffca28; padding: 10px; font-weight: bold; }
.vista { display: none; padding: 20px; }
.vista.activa { display: block; }
.logo { width: 120px; margin: 20px auto; display: block; }
input { width: 90%; padding: 15px; margin: 10px 0; border-radius: 12px; border: none; font-size: 18px; text-align: center; }
button { width: 90%; padding: 18px; margin: 10px 0; border-radius: 12px; border: none; font-weight: bold; font-size: 16px; background: #d32f2f; color: white; cursor: pointer; }
.btn-gris { background: #444; }
.btn-naranja { background: #e65100; }
.card { background: #1a1a1a; padding: 15px; border-radius: 15px; margin-bottom: 20px; border: 1px solid #333; }
.inventario-v { font-size: 1.5rem; margin: 15px 0; color: #4caf50; }
